{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

{% if user.is_authenticated %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3>{% trans "Add Post..." %}</h3>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <table>
                <form method="POST" enctype="multipart/form-data" style="margin-top: 1.3em;">
                    {{ add_post_form | crispy }}
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form.as_table }}                    
            </table>
                    <br>
                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>                        
                </form>                
            
            <br>
            
            <hr> 
        </div>
    </div>
</div>

{% else %}

<div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
        <h3>{% trans "This page is ONLY for registered users" %}</h3>
        <hr>
        <a href="{% url 'account_login' %}"><button class="btn btn-signup right">{% trans 'Sign-in' %}</button></a>
    </div>
</div>

{% endif %}

{% endblock %}

