{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block content %}
<!-- Rendering the form to add a new Post -->
{% if user.is_authenticated %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3>{% trans "Add Post..." %}</h3>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            {% if messages %}
            {% for message in messages %}
            <div class="text-center alert alert-{{ message.tags }}">
                {{ message|safe }}
            </div>
            {% endfor %}
            {% else %}
            <form method="POST" enctype="multipart/form-data" style="margin-top: 1.3em;">
                <table>
                    {{ add_post_form | crispy }}
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form.as_table }}
                </table>
                <br>
                <button type="submit" class="btn btn-signup btn-lg">Submit</button>
            </form>
            {% endif %}
            <!-- A JavaScript to place user.id into author field and status==published -->
            <script>
                var name = "{{ user.id }}";
                var show = 1;
                document.getElementById("poster").value
                    = name;
                document.getElementById("status_id").value
                    = show;
            </script>

            <br>
            <a aria-current="page" href="{% url 'home' %}">
            <button type="button" class="btn btn-outline-secondary btn-sm">Back to Content</button></a></small> 
            <hr>
        </div>
    </div>
</div>

{% else %}
<!-- Message informing about an unauthorized editing of the form  -->
<div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
        <h3>{% trans "This page is ONLY for registered users" %}</h3>
        <hr>
        <a href="{% url 'account_login' %}"><button class="btn btn-signup right">{% trans 'Sign-in' %}</button></a>
    </div>
</div>

{% endif %}

{% endblock %}