{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}


<div class="container">
    <div class="contact-background">
        <div class="row">
            <div class="col-md-8 mt-3 offset-md-2 ">
                <h3>{% trans "Get in touch..." %}</h3>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 mt-3 offset-md-2">
                <form method="post" style="margin-top: 1.3em;">
                    {{ contact_form | crispy }}
                    {% csrf_token %}
                    {{ form.as_p }}
                    <br>
                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
            </div>
        </div>
    </div>    
</div>


{% endblock %}


