{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

<!-- Content-delete form  -->
{% if user.is_authenticated and user.name == author %}

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2"><br />
            <h3>Delete content: "{{herocontent.hero_title}}"</h3>
            <br>
            <h4> Are you sure ?! </h4>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            {% if messages %}
            {% for message in messages %}
            <div class="text-center alert alert-{{ message.tags }}">
                {{ message|safe }}
            </div>
            {% endfor %}
            {% else %}
            <form method="POST" style="margin-top: 1.3em;">
                {{ add_content_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-signup btn-sm">Delete Content</button>
                <a aria-current="page" href="{% url 'home' %}">
                    <button type="button" class="btn btn-outline-secondary btn-sm">Back</button></a>
            </form>
            {% endif %}
        </div>
    </div>
</div>


{% else %}
<!-- Message informing about an unauthorized deleting of the Content  -->
<div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
        <h3>{% trans "This page is ONLY for registered users...& if you are the author of this post" %}</h3>
        <hr>
        <a href="{% url 'account_login' %}"><button class="btn btn-signup right">{% trans 'Sign-in' %}</button></a>
    </div>
</div>

{% endif %}

{% endblock %}