{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2"><br/>
            <h3>Delete Post: "{{post.title}}"</h3>
            <br>
            <h4> Are you sure ?! </h4>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <table>
                <form method="POST" style="margin-top: 1.3em;">
                    {{ add_post_form | crispy }}
                    {% csrf_token %}
                    <br>
            </table>
                    <button type="submit" class="btn btn-signup btn-lg">Delete Post</button>                           
                </form>                
            
            <br>
        </div>
    </div>
</div>


{% endblock %}
