{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

{% if user.is_authenticated and user.name == author %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2"><br/>
            <h3>Delete Content: "{{content.hero_title}}"</h3>
            <br>
            <h4> Are you sure ?! </h4>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <form method="POST" style="margin-top: 1.3em;">
                <table>
                    {{ add_content_form | crispy }}
                    {% csrf_token %}
                </table>
                <button type="submit" class="btn btn-signup btn-lg">Delete Content</button>
            </form>

            <br>
        </div>
    </div>
</div>

{% else %}

<div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
        <h3>{% trans "This page is ONLY for registered users...& if you are the author of this post" %}</h3>
        <hr>
        <a href="{% url 'account_login' %}"><button class="btn btn-signup right">{% trans 'Sign-in' %}</button></a>
    </div>
</div>

{% endif %}

{% endblock %}
