{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

<!-- Rendering the Postt update header -->
{% if user.is_authenticated and user.name == author %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3>{% trans "Update Post..." %}</h3>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            {% if messages %}
            {% for message in messages %}
            <div class="text-center alert alert-{{ message.tags }}">
                {{ message|safe }}
            </div>
            {% endfor %}
            {% else %}
            <form method="POST" enctype="multipart/form-data" style="margin-top: 1.3em;">
                <!-- Rendering the pre-filled Post form in a TABLE format -->
                <table>
                    {{ add_post_form | safe }}
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form.as_table }}
                    <br>
                </table>
                <br>
                <button type="submit" class="btn btn-signup btn-lg">Update</button>
            </form>
            {% endif %}
            <br>
            <a aria-current="page" href="{% url 'home' %}">
                <button type="button" class="btn btn-outline-secondary btn-sm">Back to Posts</button></a></small>
            <hr>
        </div>
    </div>
</div>

{% else %}
<!-- Message informing about an unauthorized editing of the Content  -->
<div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
        <h3>{% trans "This page is ONLY for registered users...& if you are the author of this post" %}</h3>
        <hr>
        <a href="{% url 'account_login' %}"><button class="btn btn-signup right">{% trans 'Sign-in' %}</button></a>
    </div>
</div>

{% endif %}

{% endblock %}