{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}


{% if user.is_authenticated and user == post.author %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3>{% trans "Update Post..." %}</h3>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <table>
                <form method="POST" style="margin-top: 1.3em;">
                    {{ add_post_form | crispy }}
                    {% csrf_token %}
                    {{ form.as_table }}
                    <br>
            </table>
                    <br>        
                    <button type="submit" class="btn btn-signup btn-lg">Update</button>                           
                </form>                
            
            <br>
            
            <hr> 
        </div>
    </div>
</div>

{% else %}

<div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
        <h3>{% trans "This page is ONLY for registered users...& if you are the author of this post" %}</h3>
        <hr>
        <a href="{% url 'account_login' %}"><button class="btn btn-signup right">{% trans 'Sign-in' %}</button></a>
    </div>
</div>

{% endif %}

{% endblock %}

